html, body {margin: 0; height: 100%; overflow: hidden}
body
{
    width: 100%;
    height: 100%;
}
header
{
    width: 100%;
    padding-top: 5.3%;
    height: 0%;
	background-color: #990000;
	border-bottom: solid 0.2vw;
    position: relative;
}
#facebook .fa 
{
    margin-top: -6.05%;
    margin-left: 1%;
    width: 4.6%;
    height: 68%;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 3vw;
    padding-top: 1%;
}
#facebook .fa:hover 
{
    border: solid 0.1vw;
}
#facebook .fa-facebook 
{
    background: #3B5998;
    color: white;
}
.links
{
    float: right;
    margin-top: -3.6%;
    margin-right: 2.4%;
    width: 7%;
    position: relative;
}
.links a:visited
{
    color: #33ff99;
}
.links a
{
    font-size: 1.5vw;
    color: white;
    font-family: impact;
    text-decoration: none;
    letter-spacing: 0.1vw;
}
.links a:visited
{
	color: white;
}
.home
{
    float: left; 
    position: absolute;
}
.home i
{
    float: right;
    padding-top: 5%;
    padding-left: 10%;
    position: absolute;
}
.home:hover
{
    text-shadow: 0.1vw 0.1vw black;
}
header h1
{
    margin-top: -4.5%;
    color: #ff884d;
    font-family: cursive;
    font-size: 2.5vw;
    text-shadow: 0.1vw 0.1vw black; 
    text-align: center;
}
#wrapper
{
    width: 100%;
	height: 100%;
    margin: 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
}
#crate
{
	width: 40vw;
	height: 0%;
	padding-top: 30vw;
	border: solid 0.2vw grey;
	position: relative;
	margin-top: -8%;
    border-radius: 2vw;
    background-color: #f2f2f2;
}
#logo
{
    width: 10vw;
    padding-top: 6.5vw;
    margin-left: 37.5%;
    border: solid 0.1vw grey;
    position: absolute;
    margin-top: -75%;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
#picture
{
    width: 93%;
    border: solid 0.1vw;
    position: absolute;
    margin-left: 0.5%;
    margin-top: -66%;
    padding-top: 6vw;
    background-color: white;
}
#picture img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    margin-top: -64.5%;
}
#about
{
    margin: 0;
    padding: 0;
    width: 25vw;
    margin-left: 18%;
    position: absolute;
    margin-top: -35%;
}
#about p
{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.1vw;
}
#username
{
    width: 25vw;
    margin-left: 18%;
    position: absolute;
    margin-top: -50%;
    text-align: center;
}
#username h4
{
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
}
#role
{
    width: 25vw;
    margin-left: 18%;
    position: absolute;
    margin-top: -46.5%;
    text-align: center;
    font-family: monospace;
}
#role p
{
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
    font-size: 1.1vw;
}
@media only screen and (max-width: 1100px) 
{
	#crate
	{
		width: 70%;
		padding-top: 50%;
	}
    #logo
    {
        width: 15vw;
        padding-top: 10vw;
        margin-left: 40%;
        margin-top: -71.5%;
    }
    #picture
    {
        margin-left: 0.2%;
        margin-top: -68%;
        padding-top: 9vw;
    }
    #picture img
    {
        margin-top: -64.5%;
    }
    #username
    {
        width: 45vw;
    }
    #username h4
    {
        font-size: 2vw;
    }
    #role
    {
        width: 45vw;
        margin-top: -46%;
    }
    #role p
    {
        font-size: 2vw;
    }
    #about
    {
        width: 45vw;
        margin-left: 18%;
        margin-top: -34%;
    }
    #about p
    {
        font-size: 1.7vw;
    }
}