html, body {margin: 0; height: 100%; overflow: hidden}
body
{
    width: 100%;
    height: 100%;
}
#wrapper
{
    width: 70%;
    max-width: 600px;
	height: 100%;
    margin: 0 auto;
    position: relative;
}
form
{
    position: relative;
    width: 100%;
    height: 100%;
}
#error
{
	position: absolute;
	margin-top: 20vh;
	font-size: 2.7vh;
	color: red;
	text-align: center;
	margin-left: 5%;
	width: 90%;
}
#new_username
{
    margin-top: 30vh;
    width: 97%;  
    height: 5.5vh;
    outline: none;
    padding-left: 3%;
    font-size: 2.3vh;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 0.1vw grey;
}
#password
{
    margin-top: 5%;
    width: 97%;  
    height: 5.5vh;
    outline: none;
    padding-left: 3%;
    font-size: 2.3vh;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 0.1vw grey;
}
.forgot
{
    float: right;
    font-size: 2.3vh;
}
#submit
{
    margin-top: 20%;
    width: 100%;   
    height: 7%;  
    font-size: 3vh;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
#cancel
{
    margin-top: 5%;
    width: 100%;   
    height: 5.1%;  
    padding-top: 1.9%;
    font-size: 3vh;
    color: black;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
    text-align: center;
}